body {
    margin: 0;  
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background: #8b4513;
    color: rgba(255, 255, 255, .7);
}
.site-title{
    font-size: 1.3rem;
}
.container {
    padding: 0 20px;
}
.coffee_record-item {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.coffee_record-bean_name {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
ul.alert{
    padding:15px 15px 15px 40px;
    border-radius:4px;
    background:#f8d6d9;
    color:#721c24;
}
.coffee_record-control{
    display: flex;
    justify-content: space-between;
}
.button, .btn {
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #eee;
    color: #333;
    font-size: .9rem;
    cursor: pointer;
}
.button:hover, .btn:hover {
    background: #ddd;
}
.header nav ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.header nav ul li {
    margin: 0 10px;
}
.header nav ul li a.active {
    color: #fff;
}